<div>
    <h1>
        Prototype
    </h1>
</div>

<mat-table #table [dataSource]="dataSource">
    <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef>
            Name
        </mat-header-cell>
        <mat-cell *cdkCellDef="let row">
            <div>
                {{ row.name }}

                <div *ngIf="row.expanded && row.children">
                    <app-tree-container [nodeData]="row.children"></app-tree-container>
                </div>
            </div>
        </mat-cell>
    </ng-container>

    <!-- ----- -->

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"
            [class.clickable]="row.children?.length"
            [class.expanded]="row.expanded"
            (click)="row.children?.length ? expand(row) : nothing()">
    </mat-row>
</mat-table>